* {
  font-family: "Noto Sans JP";
  font-weight: 500;
}

/* 各チャット行 */
yt-live-chat-text-message-renderer,
yt-live-chat-item-renderer {
  border: 1px solid red;
}

/* アイコン */
yt-live-chat-text-message-renderer yt-img-shadow,
yt-live-chat-item-renderer yt-img-shadow,
yt-live-chat-text-message-renderer yt-img-shadow#author-photo,
yt-live-chat-item-renderer yt-img-shadow#author-photo,
yt-live-chat-text-message-renderer .chat-line__avatar,
yt-live-chat-item-renderer .chat-line__avatar {
  border: 1px solid orange;
}

/* コメント投稿者とコメント本文のボックス */
yt-live-chat-text-message-renderer #content,
yt-live-chat-item-renderer #content,
yt-live-chat-text-message-renderer div#content,
yt-live-chat-item-renderer div#content {
  border: 1px solid green;
}

/* コメント投稿者 */
yt-live-chat-text-message-renderer yt-live-chat-author-chip,
yt-live-chat-item-renderer yt-live-chat-author-chip,
.yt-live-chat-author-chip,
.chat-line__author {
  border: 1px solid blue;
}

/* コメント本体 */
yt-live-chat-text-message-renderer #message,
yt-live-chat-text-message-renderer .chat-line__message,
yt-live-chat-item-renderer #message,
yt-live-chat-item-renderer .chat-line__message,
yt-live-chat-text-message-renderer yt-formatted-string,
yt-live-chat-item-renderer yt-formatted-string {
  border: 1px solid purple;
}
